* {
  margin: 0;
  padding: 0;
}

.main {
  background: linear-gradient(111.03deg, rgba(19, 23, 128, 0.78) 0%, #8085FF 100%);
  height: 100vh;
}

.DescriptionComponent {
  color: #FFFF;
}

.ButtonComponent {
  background: #1DB954;
  box-shadow: 0 0 35px 3px rgba(0, 0, 0, 0.29);
  border-radius: 35px;
}
a {
  text-decoration: none;
}

.logo {
  filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.25));
}

.LogosComponent {
  padding-top: 25px;
}

.inputField {
  background: #FFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
}

.disclaimer {
  margin-top: 250px;
  margin-left: 50px;
  margin-right: 50px;
}