* {
  margin: 0;
  padding: 0;
}

.main {
  background: linear-gradient(111.03deg, rgba(19, 23, 128, 0.78) 0%, #8085FF 100%);
  height: 100vh;
}

.DescriptionComponent {
  color: #FFFF;
}

.ButtonComponent {
  background: #1DB954;
  box-shadow: 0 0 35px 3px rgba(0, 0, 0, 0.29);
  border-radius: 35px;
}
a {
  text-decoration: none;
}
